p {
  font-family: roboto, arial;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(0, 0, 0);
  margin-bottom: 100px;
}

.header-text h1 {
  margin-top: 3px;
}

.name {
  color: #ff004f;
}
.header-text {
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
  border: 2px solid #ff004f;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.column1 {
  flex-basis: 46%;
  margin-top: 50px;
}

.column2 img {
  height: 300px;
  width: 500px;
  flex-basis: 60%;
}

.about-text {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ff004f;
}

.discription {
  font-size: 20px;
}

.background {
  padding: 30px 0;
  margin-left: 50px;
  margin-top: 50px;
}

.background-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.background-grid div {
  background: #817e7e;
  padding: 40px;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.background-grid div:hover {
  background: #ff004f;
  transform: translateY(-10px);
}

.background-text {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.background p,
h1 {
  color: white;
}

.portfolio {
  padding: 30px 0;
  margin-left: 50px;
  margin-top: 50px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 100%;
  margin-bottom: 20px;
  color: white;
}

.layer p {
  color: white;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: background 0.5s;
  background-color: black;
}

.btn:hover {
  background: #ff004f;
  color: white;
}

.contact {
  margin-left: 50px;
  margin-right: 50px;
}

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 30px;
  color: white;
}

.contact-left p a {
  text-decoration: none;
  color: #ff004f;
}

.social-icons {
  color: white;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

.btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.reservation {
      margin-left: 50px;
      margin-right: 50px;
      padding: 30px 0;
      margin-top: 50px;
    }

    .reservation-left {
      flex-basis: 35%;
    }

    .reservation-right {
      flex-basis: 60%;
    }

    .reservation-left p {
      margin-top: 30px;
      color: white;
    }

    .reservation-left h1 {
      color: #ff004f;
    }

    .reservation-right form {
      width: 100%;
    }

    .reservation-right form input {
      width: 100%;
      border: 0;
      outline: none;
      background: #262626;
      padding: 15px;
      margin: 15px 0;
      color: #fff;
      font-size: 18px;
      border-radius: 6px;
    }

    #reservation-msg {
      color: #62b752;
      margin-top: -40px;
      display: block;
    }

#msg {
  color: #62b752;
  margin-top: -40px;
  display: block;
}
